<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Yatay Menü</title>
    <style>
        .body {
            margin: 0;
            font-family: 'Times New Roman', Times, serif;
        }

        .ul {
            height: 75px;
            background-color: #2f2b2b;
            list-style: none;
            margin: 0;
            display: flex;
            align-items: center;

        }

        .li {

            margin: 0;
            padding: 15px 20px;
            
        }

        .li-a:hover {
            color: #ff6680;

        }

        .li-a {
            text-decoration: none;
            color: white;

        }
    </style>
</head>

<body class="body">
    <nav>
        <ul class="ul">
            <li class="li"><a class="li-a" href="k-anasayfa">Anasayfa</a></li>
            <li class="li"><a class="li-a" href="k-antrenman">Antrenman Programı</a></li>
            <li class="li"><a class="li-a" href="k-beslenme">Beslenme Programı</a></li>
            <li class="li"><a class="li-a" href="k-iletisim">İletişim</a></li>
            <li class="li"><a class="li-a" href="giris">Çıkış Yap</a></li>

        </ul class="ul">
    </nav>

</body>

</html>